include ../user-button/user-button.pug
include ../burger/burger.pug
include ../logo-mobile/logo-mobile.pug

mixin header()
  div.header
    +logoMobile()
    div.menu-outer
      +userButton()
      +burger("nav-bar")
