@import "../../variables/_vars.scss";

.header{
  padding: 25px 10px 35px 10px;
  display: flex;
  justify-content: flex-end;
  border-bottom: 1px solid #E0E0E0;
  .menu-outer{
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}

@media screen and (max-width: $tablet){
  .header{
    justify-content: space-between;
  }
}
