@import "../../variables/_vars.scss";

body{
  margin: 0;
  padding: 0;
}

.app{
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(131.85deg, #0245A3 -2.09%, #A444E4 87.64%);
  box-sizing: border-box;
}


.vpnm-form{
  width: 100%;
  font-family: "Open Sans";
  text-align: center;
  padding: 56px 40px;
  background: #F0F2F4;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 7px;
  &__title{
    display: block;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #34383C;
    padding: 33px 0px 23px;
  }
  &__input{
    display: inline-block;
    width: 100%;
    padding: 10px 11px;
    background: #FFFFFF;
    border: 1px solid #E0E0E0;
    border-radius: 2px 0px 0px 2px;
    color: #34383C;
  }
  &__button{
    display: block;
    text-decoration: none;
    border: none;
    width: 100%;
    padding: 10px 0px;
    font-weight: 600;
    color: #FFFFFF;
  }
  &__link{
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #0083B4;
    text-decoration: none;
    &:hover{
    color: #005879;
    }
  }
  &__or-decoration{
    display: flex;
    padding: 30px 0px;
    max-width: 376px;
    margin: 0 auto;
    color: #34383C;
  }
  &__hr{
    flex: 1;
  }
  &__or{
    padding: 0px 33px;
  }
  &__panel-buttons{
    display: flex;
    max-width: 376px;
    margin: 0 auto;
  }
}

.blue{
  background: #0175EC;
  border-radius: 0px 4px 4px 0px;
  font-size: 16px;
  line-height: 22px;
  &:hover{
  background: #0261C2;
  }
}

.purple{
  background: #A644E5;
  font-size: 14px;
  line-height: 19px;
  &:hover{
  background: #831EC2;
  }
}

.another-purple{
  background: #9D41D7;
  font-size: 14px;
  line-height: 19px;
  &:hover{
  background: #831EC2;
  }
}

.disabled{
  background-color: #C4C4C4;
  cursor: default;
  border-radius: 0px 2px 2px 0px;
  border: 1px solid #e0e0e0;
  border-left-width: 0;
}

.clicked{
  background: #9DDFF7;
  color: #8C8C8C;
  border-radius: 0px 2px 2px 0px;
  border: 1px solid #e0e0e0;
  border-left-width: 0;
}

@media screen and (max-width: $mobile-very-small){
  .logo__image{
    width: 80%;
  }
}
