@import "../../variables/_vars.scss";

.app{
  display: flex;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  min-height: 100vh;
}

.content{
  width: 100%;
  padding: 0 45px 50px;
}

.page-header{
  margin: 0px;
  padding: 30px 0 25px;
  color: #34383C;
  font-size: 22px;
}

mark{
  font-weight: 600;
  background-color: f3f3f3;
  color: #31b7e9;
  position: relative;
  margin-right: 3px;
  padding-left: 3px;
  padding-right: 3px;
  font-size: 14px;
}

@media screen and (max-width: $mobile){
  .content{
    padding: 0 10px !important;
  }
}
