@import "../../variables/_vars.scss";

pre{
  font-family: "Open Sans", sans-serif;
  font-style: normal;
}

.content-block{
  padding: 20px 0px;
  border-bottom: 1px solid #E0E0E0;
}

.gallery{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

@media screen and (max-width: $mobile){
  .gallery{
    justify-content: center;
  }
}
