include ../../components/logo-mobile/logo-mobile.pug

html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="initial-scale=1.0, width=device-width")
    title Sign up
    link(href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap", rel="stylesheet")
  body
    div.app
      form.vpnm-form
        +logoMobile()
        span.vpnm-form__title
          | Enter your email
        div.row-inputs
          input(type="text", placeholder="Email").vpnm-form__input.required-input
          input(type="text", placeholder="Your Name").vpnm-form__input.required-input
        div.row-inputs
          input(type="text", placeholder="Password").vpnm-form__input.required-input
          input(type="text", placeholder="Confirm password").vpnm-form__input.required-input
        div.row-inputs
          div.container
            input(type="text", placeholder="Verification Code").vpnm-form__input
            a(href="#", data-enabled=false)#send-code.vpnm-form__button.disabled
              | Send
          a(href="#").vpnm-form__button.blue
            | Confirm
        br
        a(href="#").vpnm-form__link
          | Reset Password
        br
        div.vpnm-form__or-decoration
          div.vpnm-form__hr
            hr
          div.vpnm-form__or
            | or
          div.vpnm-form__hr
            hr
        div.vpnm-form__panel-buttons
          a(href="#").vpnm-form__button.purple
            | Sign in
          a(href="#").vpnm-form__button.another-purple
            | Home
