@import "../../variables/_vars.scss";
.logo-mobile{
  display: none;
}

@media screen and (max-width: $tablet){
  .logo-mobile{
    display: block;
    img{
      display: block;
      width: 100%;
    }
  }
}
