block menu
  div.main-menu
    +logo()
    nav.nav-bar 
      label.submenu
        span.link Account Manager
        input(type="checkbox").hidden
        ul.submenu-list
          li 
            a(href="#").link Account Information
          li
            a(href="#").link Change Password
          li
            a(href="#").link Affiliate
