.password-input{
  display: flex;
  &__input{
    display: block;
    flex: 1;
    background: #FFFFFF;
    border: 1px solid #EDEDED;
    padding: 5px 10px;
  }
  &__button{
    cursor: pointer;
    background: #FFFFFF;
    border: 1px solid #EDEDED;
    width: 47px;
    height: 35px;
    display: inline-block;
    background: url("../../img/eye.svg") no-repeat 50% 50%;
  }
}
