extends ../root/root.pug
include ../../components/clipboard-input/clipboard-input.pug

block title 
  title Home

block content
  div.main-content
    div.tabs
      div.tabs__tab.activity
        h2.tabs__title
          | Your Account
        span.tabs__subtitle
          | Usage and statistics
        br
        br
        a(href="#").view-more 
          | View more
      div.tabs__tab
        h2.tabs__title
          | Announcement
        span.tabs__subtitle
          | Important announcements
        br
        br
        a(href="#").view-more 
          | View more
      div.tabs__tab
        h2.tabs__title
          | Apps and quick settings
        span.tabs__subtitle
          | Links to download and configure the app
        br
        br
        a(href="#").view-more 
          | View more
    div.pages
      label.control-button
        input(type="radio", name="tab", checked="checked").hidden.control-button__input
        span.control-button__title
          | Your Account
        div.chunk-page
          div.statistic-block
            div.statistic-block__chunk
              div.statistic-block__text
                div.statistic-block__title
                  | Online / Limit devices
                div.statistic-block__units
                  | 2 pcs / 6 devices
              div.statistic-block__diagram
                div.line-diagram
                  div.line-diagram__now.green
            div.statistic-block__chunk
              div.statistic-block__text
                div.statistic-block__title
                  | Remaining flow traffic
                div.statistic-block__units
                  |  1.83 GB / 2.93 GB
              div.statistic-block__diagram
                div.line-diagram
                  div.line-diagram__now.yellow
            div.statistic-block__chunk
              div.statistic-block__text
                div.statistic-block__title
                  | Traffic was used today
                div.statistic-block__units
                  |   1.83 GB
              div.statistic-block__diagram
                div.line-diagram
                  div.line-diagram__now.red
          div.statistic-block
            div.statistic-block__row.text-statistic
              div.statistic-block__left-hand
                | Account level 
              div.statistic-block__right-hand
                div.statistic-block__left-chunk
                  | Free
                div.statistic-block__right-chunk
                  a(href="#").view-more
                    | View more
            div.statistic-block__row.text-statistic
              div.statistic-block__left-hand
                | Balance 
              div.statistic-block__right-hand
                div.statistic-block__left-chunk
                  | 0.00$
                div.statistic-block__right-chunk
                  a(href="#").view-more
                    | Recharge
            div.statistic-block__row.text-statistic
              div.statistic-block__left-hand
                | Sub expiration time 
              div.statistic-block__right-hand
                div.statistic-block__left-chunk
                  b 55
                  span 
                  | days left
          div.statistic-block
            div.statistic-block__row.text-statistic
              div.statistic-block__left-hand
                | Last used
              div.statistic-block__right-hand
                div.statistic-block__left-chunk
                  | Not once
            div.statistic-block__row.text-statistic
              div.statistic-block__left-hand
                | Last connection
              div.statistic-block__right-hand
                div.statistic-block__left-chunk
                  | Undefined time
            div.statistic-block__row.text-statistic
              div.statistic-block__left-hand
                | Daily bonus
              div.statistic-block__right-hand
                div.statistic-block__left-chunk
                  | Previous time - 
                  b 09.02.2019
                div.statistic-block__right-chunk
                  a(href="#").view-more Click to get
      label.control-button
        input(type="radio", name="tab").hidden.control-button__input
        span.control-button__title
          | Announcement
        div.chunk-page
          | Another Page
      label.control-button
        input(type="radio", name="tab").hidden.control-button__input
        span.control-button__title
          | Apps and quick settings
        div.chunk-page
          div.manuals
            div.manuals__tabs
              div.manuals__tab.active
                | Android
              div.manuals__tab
                | iOS
              div.manuals__tab
                | Windows
              div.manuals__tab
                | Linux
              div.manuals__tab
                | Mac OS X
            div.manuals__pages
              input(type="radio", name="manuals-input").hidden.manuals__input
              div.manuals__page
                |Download from Google Play
                br
                |Direct link to Shadowsocks For Android
                br
                br
                |1. Download and install from Google Play or download by direct link apk.
                br
                |2. After installation, start the application and click on the add server icon in the upper right. Choose Scan QR code, or Import from Clipboard*. QR-Code and the "Copy Settings" button for each server are in your personal account.
                br
                |3. Select the desired server and connect to it on the button in the center. Add the rest of the servers on the same principle.*
                br
                b More fine tuning of the program:
                br
                |4. Click the "pencil" located on the right. Disable the "IPv6 Route" option. Instagram with this option may not work.
                br
                |5. Select Bypass LAN & mainland China in the "Route" option.
                br
                |6. Enable option Send DNS over UDP.
                br
                br
                +clipboardInput("https://vpnm.org/link/yDaCe2e6TfliMN4J?mu=2", "Copy to Clipboard")
              input(type="radio", name="manuals-input").hidden.manuals__input
              div.manuals__page
                | iOS
              input(type="radio", name="manuals-input").hidden.manuals__input
              div.manuals__page
                | Windows
              input(type="radio", name="manuals-input").hidden.manuals__input
              div.manuals__page
                | Linux
              input(type="radio", name="manuals-input").hidden.manuals__input
              div.manuals__page
                | Mac OS X
