extends ../root/root.pug

include ../../components/table-information/table-information.pug

block title
  title="Account Information"
  
block content
  h2.page-header
    | Account Information
  +table()
    
