mixin alertMessage()
  div.alert-message
    b Attention! 
    | Recharge after completion, you must refresh the page to view the balance, usually within a minute for the account. 
    br
    br
    | Auto-renewals that are not completed due to insufficient Balance will automatically be deducted when Balance is sufficient.
    br
    br
    | Current balance: 
    mark 90.00 
    | $
