include ../logo/logo.pug
include ../logo-mobile/logo-mobile.pug

mixin menu()
  div.main-menu#nav-bar
    div.nav-header
      +logo()
      +logoMobile()
      div(data-for="nav-bar").burger-close#close-burger
        div.line.left
        div.line.right
    nav.nav-bar
      label.submenu
        input(type="radio", name="menu").hidden
        span.link.title-submenu.account-manager Account Manager
        ul.submenu-list
          li 
            a(href="#").link Home
          li 
            a(href="#").link Account Information
          li
            a(href="#").link Change Password
          li
            a(href="#").link Affiliate
      a(href="#").link.server-manager Server Manager
      label.submenu
        input(type="radio", name="menu").hidden
        span.link.title-submenu.manuals Manuals
        ul.submenu-list
          li 
            a(href="#").link Android
          li
            a(href="#").link iOS
          li
            a(href="#").link Windows
          li
            a(href="#").link Linux
          li
            a(href="#").link Mac OS X
      label.submenu
        input(type="radio", name="menu").hidden
        span.link.title-submenu.store Store
        ul.submenu-list
          li 
            a(href="#").link Top Up & Balance
          li
            a(href="#").link Package List
          li
            a(href="#").link Purchase history
      a(href="#").link.support Support & Help      
