include ../logo/logo.pug

block menu
  div.main-menu
    +logo()
    nav.nav-bar#nav-bar 
      label.submenu
        input(type="radio", name="menu").hidden
        span.link.title-submenu Account Manager
        ul.submenu-list
          li 
            a(href="#").link Home
          li 
            a(href="#").link Account Information
          li
            a(href="#").link Change Password
          li
            a(href="#").link Affiliate
      a(href="#").link Server Manager
      label.submenu
        input(type="radio", name="menu").hidden
        span.link.title-submenu Manuals
        ul.submenu-list
          li 
            a(href="#").link Android
          li
            a(href="#").link iOS
          li
            a(href="#").link Windows
          li
            a(href="#").link Linux
          li
            a(href="#").link Mac OS X
      label.submenu
        input(type="radio", name="menu").hidden
        span.link.title-submenu Store
        ul.submenu-list
          li 
            a(href="#").link Top Up & Balance
          li
            a(href="#").link Package List
          li
            a(href="#").link Purchase history
      a(href="#").link Support & Help      
