@import "../../variables/_vars.scss";

body{
  margin: 0;
  padding: 0;
}

.account-manager{
  position: relative;
  &::before{
    content: "";
    width: 22px;
    height: 20px;
    position: absolute;
    top: 11px;
    right: 100%;
    background: url(../../img/account-manager.svg) no-repeat 50% 50%;
  }
}

.server-manager{
  position: relative;
  &::before{
    content: "";
    width: 22px;
    height: 20px;
    position: absolute;
    top: 11px;
    right: 100%;
    background: url(../../img/server-manager.svg) no-repeat 50% 50%;
  }

}

.manuals{
  position: relative;
  &::before{
    content: "";
    width: 22px;
    height: 20px;
    position: absolute;
    top: 11px;
    right: 100%;
    background: url(../../img/manuals.svg) no-repeat 50% 50%;
  }

}

.store{
  position: relative;
  &::before{
    content: "";
    width: 22px;
    height: 20px;
    position: absolute;
    top: 11px;
    right: 100%;
    background: url(../../img/store.svg) no-repeat 50% 50%;
  }

}

.support{
  position: relative;
  &::before{
    content: "";
    width: 22px;
    height: 20px;
    position: absolute;
    top: 11px;
    right: 100%;
    background: url(../../img/support.svg) no-repeat 50% 50%;
  }

}

.hidden{
  display: none;
}

.main-menu{
  box-sizing: border-box;
  min-width: 350px;
  min-height: 100%;
  padding-left: 25px;
  padding-right: 30px;
  background-color: $main-color;
  position: relative;
  .nav-header{
    padding: 37px 44px 45px 12px;
  }
  .nav-bar{
    margin-top: 25px;
    padding-top: 25px;
    border-top: 1px solid #14B0E9;
    padding-left: 35px;
  }
  .nav-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 25px;
    right: 25px;
    bottom: 15px;
    &__text{
      margin-top: 25px;
      display: block;
      text-align: center;
      font-weight: 600;
      font-size: 8px;
      color: rgba(255, 255, 255, 0.5);
    }
  }
  .link{
    display: block;
    text-decoration: none;
    font-style: normal;
    font-weight: 200;
    font-size: 15px;
    color: white;
    padding: 10px 0px 20px 17px;
    cursor: pointer;
  }
  .submenu-list{
    display: none;
    list-style: none;
    margin: 0px;
    padding: 0px;
    padding-left: 5px;
    margin-left: 15px;
    border-left: 1px solid white;
  }
  .hidden:checked + .title-submenu::after{
    border-top: 5px solid white;
    border-right: 5px solid rgba(0, 0, 0, 0);
    border-left: 5px solid rgba(0, 0, 0, 0);
    border-bottom: none;
  }
  .title-submenu{
    position: relative;
    &::after{
      content: "";
      display: block;
      position: absolute;
      top: 17px;
      right: 0;
      width: 0;
      height: 0;
      border-top: 5px solid rgba(0, 0, 0, 0);
      border-bottom: 5px solid rgba(0, 0, 0, 0);
      border-right: 5px solid white;
    }
  }
  .hidden:checked ~ .submenu-list{
    display: block;
  }
  .burger-close{
    display: none;
  }
}



@media screen and (max-width: $tablet){
  .main-menu.close-menu{
    left: -100%;
    transition-duration: 0.5s;
  }

  .main-menu.open-menu{
    left: 0;
    transition-duration: 0.5s;
  }

  .main-menu{
    position: fixed;
    min-width: 100%;
    z-index: 15;
    left: -100%;
    padding: 0px;



    .nav-header{
      padding: 15px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .nav-bar{
      padding: 15px 35px;
    }

    .burger-close{
      min-width: 35px;
      height: 45px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      cursor: pointer;
      .left{
        position: absolute;
        left: 0;
        transform: rotate(45deg);
      }
      .right{
        position: absolute;
        right: 0;
        transform: rotate(-45deg);
      }
    }

    .nav-header{
      background-color: white;
    }
  }
}
