@import "../../variables/_vars.scss";

.content-block{
  padding-bottom: 20px;
  border-bottom: 1px solid #E0E0E0;
}

.row-block{
  padding: 13px 0px;
  border-bottom: 1px solid #EDEDED;
  display: flex;
  align-items: center;
  .left-hand{
    flex: 5;
    font-size: 12px;
    color: #34383C;
  }
  .right-hand{
    flex: 10;
  }
}

.standart-input{
  width: 100%;
  background: #F3F3F3;
  border: 1px solid #EDEDED;
  border-radius: 4px;
  padding: 10px 16px;
  font-size: 12.5px;
}

.submit-button{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 40px 20px;
  &__input{
    cursor: pointer;
    background: linear-gradient(180deg, #60C081 0%, #60C081 90.63%, #45AF6A 96.88%);
    padding: 10px 16px;
    border: none;
    border-radius: 4px;
    font-weight: 800;
    font-size: 12px;
    color: white;
  }
  &_blue{
    background: #87D6F3;
    border-radius: 4px;
    padding: 10px 42px;
    border: none;
    color: white;
    cursor: pointer;
  }
}

.generator{
  display: flex;
  padding: 30px 0px;
  .left-hand{
    flex: 1;
  }
  .right-hand{
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}

@media screen and (max-width: $mobile-small){
  .content-block{
    border-bottom: none;
  }
  .row-block{
    flex-direction: column;
    .right-hand{
      flex: 2;
      width: 100%;
      text-align: left;
      padding: 15px;
    }
    .left-hand{
      flex: 1;
      width: 100%;
    }
  }
  .another-content{
    display: none;
  }
}
